.title {
    text-align: center;
    justify-content: center;
    padding-bottom: 2rem;
}

.btnUser {
    display: block;
    padding: 1rem;
    margin: 2rem auto;
    width: 100%;
    background: yellow;
    color: #efefef;
    text-align: center;
    border-radius: 4px;
}